rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Only authenticated @easygcloud.com users can read/write
    match /{document=**} {
      allow read, write: if request.auth != null
        && request.auth.token.email.matches('.*@easygcloud[.]com$');
    }
  }
}
